@model (List<Animeliste> Anime, List<Characterliste> Characters)
@{
    ViewData["Title"] = "Home Page";
}
<h1 class="Webseitetitel">Hauptseite</h1>
  <div class="row">
      <div class="col-sm-12">
<h3>Unsere Datenbanken</h3>
<h4>Animes</h4>
<button style='font-size:16px'>@Html.ActionLink("Title", "Index", new { sortAnime = ViewBag.AnimeSort })<i class='fas fa-sort-alpha-down-alt'></i></button>
   <table class="container">
    <thead>
        <tr>
            <th class="trennung"><h2>
                @Html.DisplayNameFor(model => model.Anime[0].Title)
            </h2></th>
            <th class="trennung"><h2>
                @Html.DisplayNameFor(model => model.Anime[1].Genre)
           </h2></th>
            <th class="trennung"><h2>
                @Html.DisplayNameFor(model => model.Anime[2].Episoden)
            </h2></th>
            <th class="trennung"><h2>
                @Html.DisplayNameFor(model => model.Anime[3].ReleaseDate)
            </h2></th>
            <th class="trennung"><h2>
                @Html.DisplayNameFor(model => model.Characters[4].Rating)
            </h2></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Anime) {
        <tr>
            <td class="trennung">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="trennung">
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td class="trennung">
                @Html.DisplayFor(modelItem => item.Episoden)
            </td>
            <td class="trennung">
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td class="trennung">
                @Html.DisplayFor(modelItem => item.Rating)/10
            </td>
        </tr>
}
    </tbody>
</table>
      </div>
       <div class="col-sm-12">
           <h4>Characters</h4>
           <button style='font-size:16px'>@Html.ActionLink("Name sortieren", "Index", new { sortCharacter = ViewBag.CharacterSort })<i class='fas fa-sort-alpha-down-alt'></i></button>
           <table class="container">
    <thead>
        <tr>
            <th class="trennung"><h2>
                @Html.DisplayNameFor(model => model.Characters[0].Name)
            </h2></th>
            <th class="trennung"><h2>
                @Html.DisplayNameFor(model => model.Characters[1].Alter)
            </h2></th>
            <th class="trennung"><h2>
                @Html.DisplayNameFor(model => model.Characters[2].Grösse)
            </h2></th>
            <th class="trennung"><h2>
                @Html.DisplayNameFor(model => model.Characters[3].Rating)
            </h2></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Characters) {
        <tr>
            <td class="trennung">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="trennung">
                @Html.DisplayFor(modelItem => item.Alter)
            </td>
            <td class="trennung">
                @Html.DisplayFor(modelItem => item.Grösse)m
            </td>
             <td class="trennung">
                @Html.DisplayFor(modelItem => item.Rating) / 10
            </td>
        </tr>
        }
    </tbody>
</table>
      </div>
</div>
