@model AnimeDatabase.Models.Animeliste

@{
    ViewData["Title"] = "Delete Anime";
}

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-3">
        </dt>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-3">
        </dt>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Episoden)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Episoden)
        </dd>
        <dt class = "col-sm-3">
        </dt>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-3">
        </dt>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <button class="standardbutton"><a class="schrift" asp-action="Index">Back to List</a></button>
    </form>
</div>
