@model AnimeDatabase.Models.Animeliste

@{
    ViewData["Title"] = "Anime Details";
}

<h1 class="Webseitetitel">Anime Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-3">
        </dt>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-3">
        </dt>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Episoden)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Episoden)
        </dd>
        <dt class = "col-sm-3">
        </dt>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-3">
        </dt>
    </dl>
</div>
<div>
    <button class="standardbutton"><a class="schrift" asp-action="Edit" asp-route-id="@Model?.ID">Edit</a></button> | <button class="standardbutton"><a class="schrift" asp-action="Index">Back to List</a></button>
</div>
