@model IEnumerable<AnimeDatabase.Models.Animeliste>

@{
    ViewData["Title"] = "Animeliste";
}


<h1 class="Webseitetitel">Animeliste</h1>
<button style="font-size:25px"><a class="schrift" asp-action="Create">Create New</a><i class="material-icons">create</i></button>
<form asp-controller="Animelisten" asp-action="Index">
    <p>
         Search for Title: <input class="searchbar" type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="container">
    <thead>
        <tr>
            <th class="trennung"><h2>
                @Html.DisplayNameFor(model => model.Title)
            </h2></th>
            <th class="trennung"><h2>
                @Html.DisplayNameFor(model => model.Genre)
            </h2></th>
            <th class="trennung"><h2>
                @Html.DisplayNameFor(model => model.Episoden)
            </h2></th>
            <th class="trennung"><h2>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </h2></th>
            <th class="trennung"><h2>
                @Html.DisplayNameFor(model => model.Rating)
            </h2></th>
            <th class="trennung"><h2>Optionen</h2></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="trennung">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="trennung">
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td class="trennung">
                @Html.DisplayFor(modelItem => item.Episoden)
            </td>
            <td class="trennung">
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td class="trennung"><h2>
                @Html.DisplayFor(modelItem => item.Rating)/10
            </h2></td>
            <td class="trennung">
                <button title="Edit" class="standardbutton" style='font-size:25px;'><a class="schrift" asp-action="Edit" asp-route-id="@item.ID"/><i class='far fa-edit'></i></button>
                <button title="Details" class="standardbutton" style='font-size:25px'><a class="schrift" asp-action="Details" asp-route-id="@item.ID"/><i class="fas fa-info"></i></button>
                <button title="Delete" class="standardbutton" style='font-size:25px'><a class="schrift"asp-action="Delete" asp-route-id="@item.ID"/><i class="fas fa-minus-circle"></i></button>
            </td>
        </tr>
        }
    </tbody>
</table>
