@model AnimeDatabase.Models.Characterliste

@{
    ViewData["Title"] = "Delete Character";
}

<div>
    <hr />
    <h1 class="Webseitetitel">Character Löschen</h1>
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-3">
        </dt>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Alter)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Alter)
        </dd>
        <dt class = "col-sm-3">
        </dt>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Grösse)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Grösse)
        </dd>
         <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-3">
        </dt>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
    <button class="standardbutton"><a class="schrift" asp-action="Index">Back to List</a></button>
    </form>
</div>
