@model IEnumerable<AnimeDatabase.Models.Characterliste>

@{
    ViewData["Title"] = "CharacterDB";
}

   <h1 class="Webseitetitel">Characterliste</h1>
   <button style="font-size:25px"><a class="schrift" asp-action="Create">Create New</a><i class="material-icons">create</i></button>
<form asp-controller="Characterliste" asp-action="Index">
    <p>
        Search for Name: <input class="searchbar" type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="container">
    <thead>
        <tr>
            <th class="trennung"><h2>
                @Html.DisplayNameFor(model => model.Name)
            </h2></th>
            <th class="trennung"><h2>
                @Html.DisplayNameFor(model => model.Alter)
            </h2></th>
            <th class="trennung"><h2>
                @Html.DisplayNameFor(model => model.Grösse)
                </h2></th>
             <th class="trennung"><h2>
                @Html.DisplayNameFor(model => model.Rating)
            </h2></th>
            <th class="trennung"><h2>Optionen</h2></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="trennung">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="trennung">
                @Html.DisplayFor(modelItem => item.Alter)
            </td>
            <td class="trennung">
                @Html.DisplayFor(modelItem => item.Grösse)m
            </td>
            <td class="trennung">
                @Html.DisplayFor(modelItem => item.Rating)/10
            </td>
            <td class="trennung">
               <button title="Edit" class="standardbutton" style='font-size:20px;'><a class="schrift" asp-action="Edit" asp-route-id="@item.ID"/><i class='far fa-edit'></i></button>
                <button title="Details" class="standardbutton" style='font-size:20px'><a class="schrift" asp-action="Details" asp-route-id="@item.ID"/><i class="fas fa-info"></i></button>
                <button title="Delete" class="standardbutton" style='font-size:20px'><a class="schrift"asp-action="Delete" asp-route-id="@item.ID"/><i class="fas fa-minus-circle"></i></button>
            </td>
        </tr>
        }
    </tbody>
</table>
